# Server Configuration
port=3000

# MongoDB Connection String (Atlas URI in production)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/smartutilityportal?retryWrites=true&w=majority

# JWT Authentication Keys
jwt_secret=your_super_secret_lecture_jwt_key
jwt_student_key=your_super_secret_student_jwt_key

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
